.dekantr-loading {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    perspective: 400px;
    perspective-origin: center;
    overflow: hidden;
    box-sizing: border-box;
}

.dekantr-loading:before {
    content: "";
    position: absolute;
    display: block;
    width: 4vw;
    height: 4vw;
    margin: 0;
    padding: 0;
    top: calc(50% - (4vw / 2));
    left: calc(50% - (4vw / 2));
    background-color: #fff;
    animation: flipflip;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 200;
}

@keyframes colorshift {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(359deg);
    }
}

@keyframes flipflip {
    
    0% {
        transform: rotateY(0deg);
    }
    
    25% {
        transform: rotateY(180deg);
    }
    
    50% {
        transform: rotateY(0deg) rotateX(0deg);
    }
    
    75% {
        transform: rotateX(180deg);
    }
    
    100% {
        transform: rotateX(0deg);
    }
    
}