.dekantr-loading-iostream {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: #116699;
    perspective: 400px;
    perspective-origin: center;
    overflow: hidden;
    animation: colorshift;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    box-sizing: border-box;
}

.dekantr-loading-iostream:before {
    content: "";
    position: absolute;
    display: block;
    width: 5vw;
    height: 5vw;
    margin: 0;
    padding: 0;
    top: calc(50% - (5vw / 2));
    left: calc(50% - (5vw / 2));
    background-color: #fff;
    animation: flipflip;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 200;
}

.dekantr-loading-iostream:after {
    content: "01001100 01101111 01110010 01100101 01101101 00100000 01101001 01110000 01110011 01110101 01101101 00100000 01100100 01101111 01101100 01101111 01110010 00100000 01110011 01101001 01110100 00100000 01100001 01101101 01100101 01110100 00101100 00100000 01100011 01101111 01101110 01110011 01100101 01100011 01110100 01100101 01110100 01110101 01110010 00100000 01100001 01100100 01101001 01110000 01101001 01110011 01100011 01101001 01101110 01100111 00100000 01100101 01101100 01101001 01110100 00101110 00100000 01010000 01110010 01100001 01100101 01110011 01100101 01101110 01110100 00100000 01110101 01101100 01110100 01110010 01101001 01100011 01100101 01110011 00100000 01100111 01110010 01100001 01110110 01101001 01100100 01100001 00100000 01110011 01100101 01101101 00101100 00100000 01100001 00100000 01100110 01100101 01110010 01101101 01100101 01101110 01110100 01110101 01101101 00100000 01101100 01100101 01100011 01110100 01110101 01110011 00100000 01110000 01101111 01110010 01110100 01100001 00100000 01100101 01100111 01100101 01110100 00101110 00100000 01010000 01110010 01100001 01100101 01110011 01100101 01101110 01110100 00100000 01100001 01110100 00100000 01101101 01100001 01110011 01110011 01100001 00100000 01100101 01101110 01101001 01101101 00101110 00100000 01001101 01100001 01100101 01100011 01100101 01101110 01100001 01110011 00100000 01100110 01101001 01101110 01101001 01100010 01110101 01110011 00100000 01101110 01101001 01100010 01101000 00100000 01100101 01110010 01101111 01110011 00101100 00100000 01110110 01100101 01101100 00100000 01110011 01100101 01101101 01110000 01100101 01110010 00100000 01101100 01101111 01110010 01100101 01101101 00100000 01100101 01101100 01100101 01101101 01100101 01101110 01110100 01110101 01101101 00100000 01101001 01101110 00101110 00100000 01001110 01100001 01101101 00100000 01100111 01110010 01100001 01110110 01101001 01100100 01100001 00100000 01100001 01110100 00100000 01101101 01100001 01110101 01110010 01101001 01110011 00100000 01100001 00100000 01100011 01101111 01101110 01100100 01101001 01101101 01100101 01101110 01110100 01110101 01101101 00101110 00100000 01010000 01110010 01101111 01101001 01101110 00100000 01100111 01110010 01100001 01110110 01101001 01100100 01100001 00100000 01101000 01100101 01101110 01100100 01110010 01100101 01110010 01101001 01110100 00100000 01101100 01101001 01100111 01110101 01101100 01100001 00101100 00100000 01101110 01101111 01101110 00100000 01101101 01100001 01110100 01110100 01101001 01110011 00100000 01101001 01110000 01110011 01110101 01101101 00100000 01101001 01101101 01110000 01100101 01110010 01100100 01101001 01100101 01110100 00100000 01100001 01100011 00101110 00100000 01001101 01100001 01100101 01100011 01100101 01101110 01100001 01110011 00100000 01110001 01110101 01101001 01110011 00100000 01101100 01100101 01101111 00100000 01110010 01110101 01110100 01110010 01110101 01101101 00101100 00100000 01100101 01100110 01100110 01101001 01100011 01101001 01110100 01110101 01110010 00100000 01100001 01101110 01110100 01100101 00100000 01110110 01100101 01101100 00101100 00100000 01110010 01110101 01110100 01110010 01110101 01101101 00100000 01100101 01110010 01100001 01110100 00101110 00100000 01010000 01110010 01100001 01100101 01110011 01100101 01101110 01110100 00100000 01100101 01100111 01100101 01110100 00100000 01110110 01110101 01101100 01110000 01110101 01110100 01100001 01110100 01100101 00100000 01110100 01110101 01110010 01110000 01101001 01110011 00101110 00100000 01000101 01110100 01101001 01100001 01101101 00100000 01100001 01101100 01101001 01110001 01110101 01100001 01101101 00100000 01110000 01100101 01101100 01101100 01100101 01101110 01110100 01100101 01110011 01110001 01110101 01100101 00100000 01110000 01110101 01101100 01110110 01101001 01101110 01100001 01110010 00101110 00100000 01001110 01110101 01101100 01101100 01100001 00100000 01101110 01101111 01101110 00100000 01100101 01100111 01100101 01110011 01110100 01100001 01110011 00100000 01101101 01100001 01100111 01101110 01100001 00101100 00100000 01101001 01100100 00100000 01110110 01101001 01110110 01100101 01110010 01110010 01100001 00100000 01101100 01100001 01100011 01110101 01110011 00101110 00100000 01001110 01110101 01101100 01101100 01100001 01101101 00100000 01100101 01101110 01101001 01101101 00100000 01110001 01110101 01100001 01101101 00101100 00100000 01101101 01100001 01110100 01110100 01101001 01110011 00100000 01101110 01100101 01100011 00100000 01101010 01110101 01110011 01110100 01101111 00100000 01100001 01100011 00101100 00100000 01110010 01101000 01101111 01101110 01100011 01110101 01110011 00100000 01100110 01101001 01101110 01101001 01100010 01110101 01110011 00100000 01101100 01100101 01101111 00101110 00100000 01010011 01100101 01100100 00100000 01110110 01101001 01110100 01100001 01100101 00100000 01110110 01110101 01101100 01110000 01110101 01110100 01100001 01110100 01100101 00100000 01110011 01100101 01101101 00101110 00100000 01001101 01101111 01110010 01100010 01101001 00100000 01110010 01110101 01110100 01110010 01110101 01101101 00100000 01110110 01101111 01101100 01110101 01110100 01110000 01100001 01110100 00100000 01100101 01101100 01100101 01101101 01100101 01101110 01110100 01110101 01101101 00101110 00100000 01000011 01110010 01100001 01110011 00100000 01110100 01110010 01101001 01110011 01110100 01101001 01110001 01110101 01100101 00100000 01110100 01100101 01101101 01110000 01110101 01110011 00100000 01100100 01101001 01100001 01101101 00101100 00100000 01100101 01110100 00100000 01100101 01101100 01100101 01101001 01100110 01100101 01101110 01100100 00100000 01101110 01110101 01101110 01100011 00100000 01110011 01100101 01101101 01110000 01100101 01110010 00100000 01100101 01110101 00101110 00100000 01001110 01110101 01101100 01101100 01100001 00100000 01100110 01100001 01100011 01101001 01101100 01101001 01110011 01101001 00101110";
    position: absolute;
    display: block;
    color: #fff;
    margin: 0;
    padding: 0;
    top: calc(50% - 0.5em);
    background-color: transparent;
    animation: iostream;
    animation-duration: 3.6255s;
    /* tunes the translation speed to synch with refresh rate, 3.3094s for stationary*/
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 100;
    white-space: nowrap;
    font-size: 10px;
    font-family: monospace;
}

@keyframes iostream {
    
    0% {
        left: 0;
    }
    
    100% {
        transform: translateX(calc(-1*(5.998px*5959)));
    }
    
}

@keyframes colorshift {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(359deg);
    }
}

@keyframes flipflip {
    
    0% {
        transform: rotateY(0deg);
    }
    
    25% {
        transform: rotateY(180deg);
    }
    
    50% {
        transform: rotateY(0deg) rotateX(0deg);
    }
    
    75% {
        transform: rotateX(180deg);
    }
    
    100% {
        transform: rotateX(0deg);
    }
    
}