.one, .two, .three, .four, .five,
.six, .seven, .eight, .nine, .ten {
    display: flex;
}
.one > *, .two > *, .three > *, .four > *, .five > *,
.six > *, .seven > *, .eight > *, .nine > *, .ten > * {
    box-sizing: border-box;
    margin: 1px;
    min-height: 9vh;
    background-color: #116699;
}
.one > * {
    width: calc(100% / 1);
}
.two > * {
    width: calc(100% / 2);
}
.three > * {
    width: calc(100% / 3);
}
.four > * {
    width: calc(100% / 4);
}
.five > * {
    width: calc(100% / 5);
}
.six > * {
    width: calc(100% / 6);
}
.seven > * {
    width: calc(100% / 7);
}
.eight > * {
    width: calc(100% / 8);
}
.nine > * {
    width: calc(100% / 9);
}
.ten > * {
    width: calc(100% / 10);
}