@media screen and (min-width: 1px) {
    /***********************************************
    Defaults and Resets
    ************************************************/
    body {
        /* styles for visualization in development only */
        counter-reset: section;
    }

    /* flex row container */
    [class^="shatter_"] {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        /* styles for visualization in development only */
        counter-reset: col;
        counter-increment: section;
    }

    /***********************************************
    Helper Styles
    ************************************************/
    .shatter_vcenter-inline > * {
        position: relative;
        display: block;
        top: calc(50% - 0.5em);
    }

    /***********************************************
    Equal Columns
    ************************************************/
    .one, .two, .three, .four, .five,
    .six, .seven, .eight, .nine, .ten {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
        /* styles for visualization in development only */
        counter-reset: col;
        counter-increment: section;
    }
    .one > *, .two > *, .three > *, .four > *, .five > *,
    .six > *, .seven > *, .eight > *, .nine > *, .ten > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        flex-basis: calc(100% / 1);
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    /* rules for visualization in development only */
    .one > *:after, .two > *:after, .three > *:after, .four > *:after, .five > *:after,
    .six > *:after, .seven > *:after, .eight > *:after, .nine > *:after, .ten > *:after {
        position: absolute;
        display: block;
        width: calc(100% - 2em);
        font-size: 1em;
        top: 0.5em;
        left: 1em;
        font-family: "DejaVu Sans", Arial, sans-serif;
        counter-increment: col;
        content: "Sec " counter(section) " : Col " counter(col) "";
    }

    [class^="shatter_"] > *:after {
        position: absolute;
        display: block;
        width: calc(100% - 2em);
        font-size: 1em;
        top: 0.5em;
        left: 1em;
        font-family: "DejaVu Sans", Arial, sans-serif;
        counter-increment: col;
        content: "Sec " counter(section) " : Col " counter(col) "";
    }


    /***********************************************
    Variable Columns : 2
    ************************************************/

    /* 10% 90% */
    .shatter_10-90 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_10-90 > *:nth-child(1) {
        flex-basis: calc(100% / 10);
    }
    .shatter_10-90 > *:nth-child(2) {
        flex-basis: calc(100% / 1.1111111111);
    }

    /* 20% 80% */
    .shatter_20-80 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_20-80 > *:nth-child(1) {
        flex-basis: calc(100% / 5);
    }
    .shatter_20-80 > *:nth-child(2) {
        flex-basis: calc(100% / 1.25);
    }

    /* 30% 70% */
    .shatter_30-70 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_30-70 > *:nth-child(1) {
        flex-basis: calc(100% / 3.33333333334);
    }
    .shatter_30-70 > *:nth-child(2) {
        flex-basis: calc(100% / 1.42857142858);
    }

    /* 40% 60% */
    .shatter_40-60 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_40-60 > *:nth-child(1) {
        flex-basis: calc(100% / 2.5);
    }
    .shatter_40-60 > *:nth-child(2) {
        flex-basis: calc(100% / 1.6666666667);
    }

    /* 50% 50% */
    .shatter_50-50 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_50-50 > *:nth-child(1) {
        flex-basis: calc(100% / 2.0);
    }
    .shatter_50-50 > *:nth-child(2) {
        flex-basis: calc(100% / 2.0);
    }

    /* 60% 40% */
    .shatter_60-40 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_60-40 > *:nth-child(1) {
        flex-basis: calc(100% / 1.6666666667);
    }
    .shatter_60-40 > *:nth-child(2) {
        flex-basis: calc(100% / 2.5);
    }

    /***********************************************
    Variable Columns : 3
    ************************************************/
    /* 5% 90% 5% */
    .shatter_5-90-5 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_5-90-5 > *:nth-child(1),
    .shatter_5-90-5 > *:nth-child(3) {
        flex-basis: calc(100% / 20);
    }
    .shatter_5-90-5 > *:nth-child(2) {
        flex-basis: calc(100% / 1.1111111111);
    }

    /* 10% 80% 10% */
    .shatter_10-80-10 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_10-80-10 > *:nth-child(1),
    .shatter_10-80-10 > *:nth-child(3) {
        flex-basis: calc(100% / 10);
    }
    .shatter_10-80-10 > *:nth-child(2) {
        flex-basis: calc(100% / 1.25);
    }

    /* 15% 70% 15% */
    .shatter_15-70-15 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_15-70-15 > *:nth-child(1),
    .shatter_15-70-15 > *:nth-child(3) {
        flex-basis: calc(100% / 6.6666666667);
    }
    .shatter_15-70-15 > *:nth-child(2) {
        flex-basis: calc(100% / 1.42857142858);
    }

    /* 20% 60% 20% */
    .shatter_20-60-20 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_20-60-20 > *:nth-child(1),
    .shatter_20-60-20 > *:nth-child(3) {
        flex-basis: calc(100% / 5);
    }
    .shatter_20-60-20 > *:nth-child(2) {
        flex-basis: calc(100% / 1.6666667);
    }

    /* 25% 50% 25% */
    .shatter_25-50-25 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_25-50-25 > *:nth-child(1),
    .shatter_25-50-25 > *:nth-child(3) {
        flex-basis: calc(100% / 4);
    }
    .shatter_25-50-25 > *:nth-child(2) {
        flex-basis: calc(100% / 2);
    }

    /* 30% 40% 30% */
    .shatter_30-40-30 > * {
        position: relative;
        box-sizing: border-box;
        margin: 0;
        padding: 0.5em 1em;
        /* styles for visualization in development only */
        min-height: calc(100vh / 10);
        background-clip: content-box;
        background-color: #242424;
        border: 1px solid #11aaee;
    }
    .shatter_30-40-30 > *:nth-child(1),
    .shatter_30-40-30 > *:nth-child(3) {
        flex-basis: calc(100% / 3.33333333334);
    }
    .shatter_30-40-30 > *:nth-child(2) {
        flex-basis: calc(100% / 2.5);
    }

}

@media screen and (min-width: 360px) {
    .one > * {
        flex-basis: calc(100% / 1);
    }
    .two > * {
        flex-basis: calc(100% / 1);
    }
    .three > * {
        flex-basis: calc(100% / 1);
    }
    .four > * {
        flex-basis: calc(100% / 1);
    }
    .five > * {
        flex-basis: calc(100% / 1);
    }
    .six > * {
        flex-basis: calc(100% / 2);
    }
    .seven > * {
        flex-basis: calc(100% / 2);
        flex-grow: 2;
    }
    .eight > * {
        flex-basis: calc(100% / 2);
    }
    .nine > * {
        flex-basis: calc(100% / 2);
        flex-grow: 2;
    }
    .ten > * {
        flex-basis: calc(100% / 2);
    }
}

@media screen and (min-width: 640px) {
    .one > * {
        flex-basis: calc(100% / 1);
    }
    .two > * {
        flex-basis: calc(100% / 2);
    }
    .three > * {
        flex-basis: calc(100% / 3);
    }
    .four > * {
        flex-basis: calc(100% / 2);
    }
    .five > * {
        flex-basis: calc(100% / 3);
        flex-grow: 2;
    }
    .six > * {
        flex-basis: calc(100% / 3);
    }
    .seven > * {
        flex-basis: calc(100% / 4);
        flex-grow: 2;
    }
    .eight > * {
        flex-basis: calc(100% / 4);
    }
    .nine > * {
        flex-basis: calc(100% / 3);
    }
    .ten > * {
        flex-basis: calc(100% / 5);
    }
}

@media screen and (min-width: 1024px) {
    .one > * {
        flex-basis: calc(100% / 1);
    }
    .two > * {
        flex-basis: calc(100% / 2);
    }
    .three > * {
        flex-basis: calc(100% / 3);
    }
    .four > * {
        flex-basis: calc(100% / 4);
    }
    .five > * {
        flex-basis: calc(100% / 5);
    }
    .six > * {
        flex-basis: calc(100% / 6);
    }
    .seven > * {
        flex-basis: calc(100% / 7);
    }
    .eight > * {
        flex-basis: calc(100% / 8);
    }
    .nine > * {
        flex-basis: calc(100% / 9);
    }
    .ten > * {
        flex-basis: calc(100% / 10);
    }
}

@media screen and (min-width: 1440px) {
    /* rules for visualization in development only */
    .one > *:after, .two > *:after, .three > *:after, .four > *:after, .five > *:after,
    .six > *:after, .seven > *:after, .eight > *:after, .nine > *:after, .ten > *:after {
        font-size: 1.125em;
    }
}

@media screen and (min-width: 1600px) {

}

@media screen and (min-width: 1920px) {
    /* rules for visualization in development only */
    .one > *:after, .two > *:after, .three > *:after, .four > *:after, .five > *:after,
    .six > *:after, .seven > *:after, .eight > *:after, .nine > *:after, .ten > *:after {
        font-size: 1.25em;
    }
}